        body {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 0; 
            background: 
            linear-gradient(rgba(40, 40, 40, 0.6), rgba(40, 40, 40, 0.6)),
            url("images/Джунгли.webp");
            background-size: cover;
            background-position: center;
            animation: breath 15s infinite ease-in-out;
        }

        @keyframes breath {
            0%, 100% {
            background-size: 100% auto;
            }
            50% {
            background-size: 110% auto;
            }
        }
 
        
        .frame {
            margin-top: 50px;
            border: 5px solid #272222;
            background: rgb(31, 90, 32);         
            display: inline-block;
            border-radius: 10px;
            position: relative;
        }
        
        .fieldOfTheGame {
            white-space: pre;
            font-size: 18px;
            line-height: 1.1;
            color: rgb(0, 0, 0);
            padding: 10px;
            display: block;
            width: 525px; 
            height: 525px; 
            overflow: hidden;
            
        }
        .boxForButtons {
            position: absolute;
            top: 0;
            left: 130px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
        .winBox, .loseBox, .restart {
            position: static;
            top: 50%;
            left: 50%; 
            border: 2px solid #ed3f3f;
            transform: translate(-50%, -50%);
            font-size: 18px;
            color: #ffffff;
            width: 260px;
            height: 50px;
            display: none;
            background-color: #ff0000;
            justify-content: center;
            align-items: center;
            z-index: 100; 
            border-radius: 10px;
        }
        .winBox {
            background-color: #1ba567;
            border-color: #1cac67;
            display: flex;
            display: none;
            align-items: center;
            justify-content: center;
            color: #ffffff;
        }
        .restart {
            background-color: #5199e5;
            border-color: #5199e5;
            cursor: pointer;
        }
        button:hover {
            background-color: #3089e8;
        }
        button:active {
            background-color: #0775eb;
        }
        img {
            display: inline-block;
            margin: 0;
            padding: 0;
            border: none;
            vertical-align: top;
            line-height: 0;
            font-size: 0;
        }
     

        