        * {
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            caret-color: transparent;
        }
        *:focus {
            outline: none;
        }
        body {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 0; 
            background: 
            linear-gradient(rgba(40, 40, 40, 0.6), rgba(40, 40, 40, 0.6)),
            url("images/Лес2.jpg");
            background-size: cover;
            background-position: center;
            animation: breath 15s infinite ease-in-out;
        }
        @keyframes breath {
            0%, 100% {
            background-size: 100% auto;
            }
            50% {
            background-size: 110% auto;
            }
        }
         img {
            display: inline-block;
            margin: 0;
            padding: 0;
            border: none;
            vertical-align: top;
            line-height: 0;
            font-size: 0;
        }
        .Healths {
            margin-top: 90px;
            height: 70px;
            width: 550px;
            display: flex;
            flex-direction: row;
            display: flex;
            align-items: center;
            border-color: #0775eb;
        }
        .healthText {
            font-size: 30px;
            font-family: 'Silkscreen', cursive;
            background: linear-gradient(45deg, #00b09b, #96c93d, #fffc00);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        .imgHeart1, .imgHeart2, .imgHeart3 {
            margin-left: 5px;
            height: 50px;
            width: 50px;
            transition: all 0.3s ease;
        }
        #Score {
            margin-left: 50px;
            font-size: 30px;
            font-family: 'Silkscreen', cursive;
            background: linear-gradient(45deg, #00b09b, #96c93d, #fffc00);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        #preloadScreen {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            z-index: 1000;
            background-color: black;
        }
        .preloadAnimation {
            border-radius: 30px;
        }
        .frame {
            margin-top: 0px;
            border: 5px solid #272222;
            background: rgb(31, 90, 32);         
            display: inline-block;
            border-radius: 10px;
            position: relative;
        }
        .fieldOfTheGame {
            white-space: pre;
            font-size: 18px;
            line-height: 1.1;
            color: rgb(0, 0, 0);
            padding: 10px;
            display: block;
            width: 525px; 
            height: 525px; 
            overflow: hidden;
            
        }
        .boxForTables {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px; /* теперь заработает */
        }
        
        .winBox, .loseBox, .restart, #SelectButton, #ButtonDefaultSkin, #ButtonYulyaSkin, #ButtonMamysSkin{
            width: 260px;
            height: 50px;
            display: none;
            justify-content: center;
            align-items: center;
            border-radius: 0px;
            font-size: 18px;
            color: #ffffff;
            border: 4px solid;
            font-family: 'Silkscreen', cursive;
            opacity: 0;
            transform: translateY(20px);
            animation: fadeInUp 0.5s ease forwards;
            border-color: #fff #999 #999 #fff;
            image-rendering: pixelated;
            -webkit-font-smoothing: none;
            -moz-osx-font-smoothing: grayscale;
        }
         @keyframes fadeInUp {
        from {
        opacity: 0;
        transform: translateY(25px);
        }
            to {
        opacity: 1;
        transform: translateY(0);
            }
        }
        .loseBox {
            background-color: #c02326;
            animation-delay: 0.3s;
            border: none;
        }
        .winBox {
            background: linear-gradient(45deg, #2e8b57, #3cb371, #2e8b57);
            display: flex;
            display: none;
            color: #ffffff;
            animation-delay: 0.1s;
        }
        #SelectButton {
            height: 30px;
            background: linear-gradient(45deg, #d4af37, #dece38, #b8860b);       
            animation-delay: 1.05s;
            border: none;
        }
        #restart {
            background: linear-gradient(45deg, #2193b0, #6dd5ed);
            cursor: pointer;
            animation-delay: 1.1s;
            box-shadow: 5px 5px 0px #251041;
        }
        #restart:hover {
            background: linear-gradient(45deg, #1e7a9c, #4fa8d8);
        }
        #restart:active {
            box-shadow: 2px 2px 0px #251041;
            transform: translate(3px, 3px) !important;
        }
        #ButtonDefaultSkin {
            background: linear-gradient(45deg, #56ab2f, #a8e063);
            cursor: pointer;
            animation-delay:  1.15s;
            box-shadow: 5px 5px 0px #251041;

        }
        #ButtonDefaultSkin:hover {
            background: linear-gradient(45deg, #4a9c25, #8ed458);
        }
        #ButtonDefaultSkin:active {
            box-shadow: 2px 2px 0px #251041;
            transform: translate(3px, 3px) !important;
        }
        #ButtonYulyaSkin {
            background: linear-gradient(45deg, #8a2387, #e94057);
            cursor: pointer;
            animation-delay: 1.2s;
            box-shadow: 5px 5px 0px #251041;
        }
        #ButtonYulyaSkin:hover {
            background: linear-gradient(45deg, #7a1d77, #d1324a);
        }
        #ButtonYulyaSkin:active {
            box-shadow: 2px 2px 0px #251041;
            transform: translate(3px, 3px) !important;
        }
        #ButtonMamysSkin {
            background: linear-gradient(45deg, #0000ff, #cc00ff);
            cursor: pointer;
            animation-delay: 1.25s;
            box-shadow: 5px 5px 0px #251041;
        }
        #ButtonMamysSkin:hover {
            background: linear-gradient(45deg, #3e3aa8, #dc4cc9);
        }
        #ButtonMamysSkin:active {
            box-shadow: 2px 2px 0px #251041;
            transform: translate(3px, 3px) !important;
        }
        
        
    